
@font-face {
  font-family: 'Overpass-SemiBold';
  src: url('Overpass-SemiBold.eot?#iefix') format('embedded-opentype'),  url('Overpass-SemiBold.woff') format('woff'), url('Overpass-SemiBold.ttf')  format('truetype'), url('Overpass-SemiBold.svg#Overpass-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
