#page_error_container {
	& header {
		height: 100vh;
		background: rgba(0,0,0,0.55);
		& a {
			margin-top: 50px;
			text-decoration: none;
			color: white;
			font-family: "OP-Semibold";
			font-size: 1.3em;
			transition: 0.4s ease;
			& svg {
				margin-right: 20px;
			}
			&:hover {
				opacity: 0.4;
			}
		}
	}
}
