#page_articles_container header {
	& h1 {
		font-family: "OP-Bold";
		width: 80%;
		text-align: center;
		margin: 0px auto;
		padding: 15px;
	}

	& button {
		cursor: pointer;
		font-family: "OP-Bold";
		margin: 40px auto;
		border-radius: 5px;
		border: solid 1px white;
		padding: 5px;
		width: 180px;
		height: 50px;
		color: white;
		background: transparent;
		transition: 0.35s ease;
		&:hover {
			background: white;
			color: rgba(0,0,0,0.6);
		}
	}
}

#content_section {
	& h2 {
		width: 100%;
		text-align: center;
	}
	& .markdown {
		& p {
			padding-bottom: 12px;
			& code {
				font-size: 0.8em;
				color: rgb(30,30,30);
				padding-top: 4px;
				padding-bottom: 4px;
				padding-left: 12px;
				padding-right: 12px;
				background: rgb(230,230,230);
				border-radius: 3px;
			}
		}
		& img {
			width: 100%;
		}
		& a {
			font-family: "OP-Medium";
			cursor: pointer;
			text-decoration: underline;
			color: black;
			transition: 0.4s ease;
			&:hover {
				color: rgba(0,0,0,0.5);
			}
		}
	}
}
