#page_index_header_img
{
	text-align: center;
	width: 0px;
	height: 0px;
	margin-left: auto ;
	margin-right: auto ;
	border-style: solid;
	border-width: 0 40px 69.3px 40px;
	border-color: transparent transparent #ffffff transparent;
	transition: 0.4s ease;
	animation: morphing 1.2s linear;
}

#unsplash_credit {
	font-family: "OP-Light";
	font-size: 0.75em;
	position: absolute;
	right: 25px;
	bottom: 25px;
	& a {
		cursor: pointer;
		font-family: "OP-Regular";
		text-decoration: none;
		color: white;
		&:hover {
			opacity: 0.6;
		}
	}
}
 
#page_index_header_text_bottom span {
	font-family: "OP-SemiBold";
	font-size: 2vw;
	text-align: center;
	opacity: 0.8;
	display: inline;
}
span.growing {
	overflow: hidden;
	display:inline;
	opacity: 1;
	animation: growing 2s ease ;
}

#page_index_container button {
	cursor: pointer;
	font-family: "OP-Bold";
	margin: 45px auto;
	border-radius: 5px;
	border: solid 1px white;
	padding: 5px;
	width: 180px;
	height: 50px;
	color: white;
	background: transparent;
	transition: 0.35s ease;
	&:hover {
		background: white;
		color: rgba(0,0,0,0.6);
	}
}

#page_index_header_text_top {
	padding-top: 40px;
}

#page_index_header_text_bottom {
	padding-top: 20px;
}

/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ TEXT ANIMATION */
/* ------------------------------ */
/* ------------------------------ */

$colors: (
    background: transparent,
    text: #fff
);

$font: (
    family: "OP-SemiBold",
    size: 3.8vw,
    letter-spacing: 0
);

$config: (
    animated: false,
    nb-letters: 23,
    animation-length: 5s,
    mask-letters: ("0", "1", "2", "3", "4", "5", "6", "7", "8", "9")
);

// ----------------------------------

@function color($value) {
    @return map-get($colors, $value);
}

@function font($value) {
    @return map-get($font, $value);
}

@function config($value) {
    @return map-get($config, $value);
}

@function random-string($list) {
    $result: null;
    @for $i from 1 through length($list) {
        $random: random(length($list));
        $current: nth($list, $random);
        $list: remove-nth($list, $random);
        $result: $result#{$current};
    }
    @return $result;
}

@function remove-nth($list, $index) {
    $result: ();
    @for $i from 1 through length($list) {
        @if $i != $index {
            $result: append($result, nth($list, $i));
        }
    }
    @return $result;
}

@mixin respond-to($breakpoint) {
    @if type-of($breakpoint) == list {
        @media (min-width: nth($breakpoint, 1)) and (max-width: nth($breakpoint, 2)) {
            @content;
        }
    }
    @else {
        @media (max-width: $breakpoint) {
            @content;
        }
    }
}

// ----------------------------------

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
	margin-top: 50px;
    width: 90%;
    font-size: 0;
    transform: translate(-50%);
}

.letter {
    width: font(size);
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin: 0 ceil(font(letter-spacing) / 2);
    font-family: font(family);
    font-size: font(size);
    font-weight: 600;
    line-height: font(size);
    text-transform: uppercase;
    color: white;
	z-index: -1;
	transition: color 0.35s ease;
	animation: lightletter 4s ease;
    @include respond-to(625px) {
        //font-size: 16px;
        //width: 18px;
    }
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        word-break: break-all;
		color: color(text);
        background-color: transparent;
    }
}

// ----------------------------------


@keyframes lightletter{
    0% {color: rgba(255,255,255,0.2);}
    100% {color: rgba(255,255,255,1);}
}

@keyframes growing{
	0% {
		opacity: 0;
		letter-spacing: -20px ;
	}
	80% {
		opacity: 0;
		letter-spacing: 0px ;
	}
	100% {
		opacity: 0.8;
		letter-spacing: 0px;
	}
}

@keyframes morphing{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@for $i from 1 through config(nb-letters) {
    $length: length(config(mask-letters));
    $random: random($length);
    $steps: $random - 1;
    $offset: font(size) * $steps * -1;
    $delay: random(100) / 100;
      $duration: $steps * (config(animation-length) / $random);
    .letter:nth-child(#{$i}):before {
        content: quote(random-string(config(mask-letters)));
        margin-top: $offset;
        animation-name: letter#{$i};
        animation-duration: $duration - ($duration * $delay);
        animation-delay: $delay * 1s;
        animation-fill-mode: forwards;
    }
    @keyframes letter#{$i} {
        from {
            margin-top: $offset;
        }
        to {
            margin-top: font(size);
        }
    }
}
