$background-color: #F9F8F8;

$figure_width_big: calc(calc(100% - 24px) / 5);
$figure_width_med: calc(calc(100% - 24px) / 3);
$figure_width_small: calc(100% - 24px);

#page_index_container {
	margin-top: 40px;
	min-height: $container_size;
}


#separator_section {
	height: 20em;
	background: transparent;
	background-image: url("/images/mnhdrn_logo.svg");
	background-repeat: no-repeat;
	background-size: 20% 20%;
	background-position: center;
}

#about_section {
	padding-bottom: 4em;
	& div.profile {
		width: 200px;
		height: 250px;
		//border-radius: 300px;
		border-radius: 5px;
		overflow: hidden;
		position: relative;
		margin: auto;
		margin-top: -0px;
		//-webkit-box-shadow: 0px 2px 8px rgb(30,30,30);
		//-moz-box-shadow: 0px 2px 8px rgb(30,30,30);
		//box-shadow: 0px 2px 8px rgb(30,30,30);
	}
	& div.profile img {
		width: 100%;
		margin: auto auto;
		display:inline-block;
		position: relative;

	}
	& h1 {
		width: 30%;
		text-align: center;
		font-family: "OP-SemiBold";
		padding: 5px
	}
	& p {
		width: 90%;
		margin: auto;
		padding-left: 5px;
		padding-right: 5px;
		text-align: justify;
	}
	& div#tech_container {
		width: 100%;
		padding-top: 10px;
		padding-bottom: 30px;
		& div#tech_logo_pres {
			width: 90%;
			min-height: 50px;
			margin: auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			& span {
				cursor: pointer;
				width: 50px;
				height: 50px;
				overflow: hidden;
				padding: 12px;
				&:hover img {
					opacity: 0.4;
				}
				& img {
					width: 100%;
					margin: auto auto;
					position: relative;
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
	& div#tech_logo_detail {
		width: 50%;
		height: 40px;
		margin: auto;
		opacity: 0;
		transition: 0.9s ease;
		& p {
			content: "";
			font-family: "OP-Light";
			color: #303030;
			text-align: center;
			justify-content: justify;
		}
		&.is-active {
			padding-top: 40px;
			height: auto;
			min-height: 50px;
			opacity: 1;
			transition: 1.2s ease;
		}
	}
}

#contact_section {
	& h4 {
		font-family: "OP-Light";
		width: 80%;
		max-width: 80% !important;
		text-align: center;
		overflow-wrap: break-word;
		opacity: 0.7;
		margin: auto;
		
	}
	padding-top: 50px;
	& #form_container {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	& .form_submit {
		cursor: pointer;
		margin: 30px auto;
		border: 1px solid #333333;
		border-radius: 3px;
		padding-top: 20px; 
		padding-left: 35px;
		padding-right: 35px;
		padding-bottom: 20px; 
		vertical-align: center;
		line-height: 5px;
		background: transparent;
		transition: 0.5s ease;
		display: block;
		opacity: 0.4;
		&:hover {
			color: white;
			background: #333333;
			opacity: 1;
		}
	}
	& .inp {
		position: relative;
		margin: 50px auto 0px auto;
		width: 60%;
		display: block;
		& .label {
			cursor: text;
			position: absolute;
			top: 16px;
			left: 15px;
			font-size: 16px;
			color: #9098A9;
			font-weight: 500;
			transform-origin: 0 0;
			transition: all .2s ease;
		}
		& .border {
			position: absolute;
			bottom: 0px;
			left: 0px;
			height: 2px;
			width: 100%;
			background: #0077FF;
			transform: scaleX(0);
			transform-origin: 0 0;
			transition: all .15s ease;
		}
		& input {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			width: 100%;
			margin: auto;
			border: 0;
			font-family: inherit;
			padding: 0;
			height: 48px;
			font-size: 16px;
			font-weight: 500;
			border-bottom: 2px solid #C8CCD4;
			background: none;
			border-radius: 0;
			color: #223254;
			transition: all .15s ease;
			&:not(:placeholder-shown) {
				& +span {
					top: 0px;
					left: 0px;
					cursor: default;
					color: #333333;
					transform: translateY(-10px) scale(.75);
				}
			}
			&:hover {
				background: rgba(#223254,.03);
			}
			&:focus {
				background: none;
				outline: none;
				& + span {
					top: 0px;
					left: 0px;
					color: #333333;
					transform: translateY(-10px) scale(.75);
					& + .border {
						background: #333333;
						transform: scaleX(1);
					}
				}
			}
		}
	}
	& .txtar {
		position: relative;
		margin: 50px auto 0px auto;
		width: 60%;
		display: block;
		& .label {
			cursor: text;
			position: absolute;
			top: 18px;
			left: 15px;
			font-size: 16px;
			color: #9098A9;
			font-weight: 500;
			transform-origin: 0 0;
			transition: all .2s ease;
		}
		& .border {
			position: absolute;
			bottom: 3px;
			left: 0px;
			height: 2px;
			width: 100%;
			background: #0077FF;
			transform: scaleX(0);
			transform-origin: 0 0;
			transition: all .15s ease;
		}
		& textarea {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			min-width: 100%;
			max-width: 100%;
			width: 100%;
			max-width: 100%;
			margin: auto;
			border: 0;
			font-family: inherit;
			padding: 0;
			height: 48px;
			min-height: 48px;
			font-size: 16px;
			font-weight: 500;
			border-bottom: 2px solid #C8CCD4;
			background: none;
			border-radius: 0;
			color: #223254;
			transition: all .15s ease;
			&:not(:placeholder-shown) {
				& + span {
					top: 0px;
					color: #303030;
					cursor: default;
					left: 0px;
					transform: translateY(-12px) scale(.75);
				}
			}
			&:hover {
				background: rgba(#223254,.03);
			}
			&:focus {
				background: none;
				outline: none;
				& + span {
					top: 0px;
					left: 0px;
					color: #303030;
					transform: translateY(-10px) scale(.75);

					& + .border {
						background: #303030;
						transform: scaleX(1);
					}
				}
			}
		}
	}
}

.articles_container {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: 33.3% 33.3% 33.3%;
	justify-items: stretch;
	padding: 12px;
	padding-bottom: 100px;
}

#articles_search {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
	& .search {
		width: 80%;
		position: relative;
		display: flex;
		justify-content: center;
	}
	& .inp {
		position: relative;
		margin: 50px auto 0px auto;
		width: 60%;
		display: block;
		& .label {
			cursor: text;
			position: absolute;
			top: 16px;
			left: 15px;
			font-size: 16px;
			color: #9098A9;
			font-weight: 500;
			transform-origin: 0 0;
			transition: all .2s ease;
		}
		& .border {
			position: absolute;
			bottom: 0px;
			left: 0px;
			height: 2px;
			width: 100%;
			background: #0077FF;
			transform: scaleX(0);
			transform-origin: 0 0;
			transition: all .15s ease;
		}
		& input {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			width: 100%;
			margin: auto;
			border: 0;
			font-family: inherit;
			padding: 0;
			height: 48px;
			font-size: 16px;
			font-weight: 500;
			border-bottom: 2px solid #C8CCD4;
			background: none;
			border-radius: 0;
			color: #223254;
			transition: all .15s ease;
			&:not(:placeholder-shown) {
				& +span {
					cursor: default;
					top: 0px;
					left: 0px;
					color: #333333;
					transform: translateY(-10px) scale(.75);
				}
			}
			&:hover {
				background: rgba(#223254,.03);
			}
			&:focus {
				background: none;
				outline: none;
				& + span {
					top: 0px;
					left: 0px;
					color: #333333;
					transform: translateY(-10px) scale(.75);
					& + .border {
						background: #333333;
						transform: scaleX(1);
					}
				}
			}
		}
	}
}

#articles_tag {
	width: 60%;
	display: flex;
	margin: auto auto;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 15px;
	padding-bottom: 15px;
	& .tagItem {
		cursor: pointer;
		font-family: "OP-SemiBold";
		font-size: 13px;
		padding-left: 20px;
		padding-right: 20px;
		margin: 5px;
		height: 40px;
		background: #f4f4f4;
		color: #333333;
		text-align: center;
		vertical-align: center;
		border-radius: 3px;
		line-height: 40px;
		transition: 0.45s ease;
		animation: tag_in 2s ease;
		-webkit-box-shadow: 0px 0px 0px rgba(30,30,30,0);
		-moz-box-shadow: 0px 0px 0px rgba(30,30,30,0);
		box-shadow: 0px 0px 0px rgba(30,30,30,0);
		z-index: 1
	}
	& .tagItem.active {
		-webkit-box-shadow: 0px 2px 5px rgb(30,30,30);
		-moz-box-shadow: 0px 2px 5px rgb(30,30,30);
		box-shadow: 0px 2px 5px rgb(30,30,30);
		color: white;
		background: #333333;
	}
	& .tagItem:hover {
		-webkit-box-shadow: 0px 2px 5px rgb(30,30,30);
		-moz-box-shadow: 0px 2px 5px rgb(30,30,30);
		box-shadow: 0px 2px 5px rgb(30,30,30);
		color: white;
		background: #333333;
	}
}

#articles_more {
	width: 80%;
	height: 60px;
	margin: auto auto;
	text-align: center;
	display: flex;
	justify-content: center;
	& .loadMoreButton {
		font-family: "OP-Medium";
		color: #808080 !important;
		margin: auto 0;
		padding: 5px;
		border: none !important;
		border-color: transparent !important;
	}
	& .loadMoreButton:hover {
		color: #050505 !important;
	}
	& .loadMoreButton:focus {
		outline: none;
	}
}


figure.articles_cartouche {
	width: calc(100% - 24px);
	margin: 0;
	position: relative;
	padding: 12px;
	& a {
		text-decoration: none;
	}
	& div.title {
		padding-left: 12px;
		padding-right: 12px;
		font-family: "OP-Medium";
		height: 2px;
		overflow: hidden;
		max-width: 70%;
		background: rgb(30,30,30);
		position: absolute;
		color: transparent;
		text-align: center;
		vertical-align: center;
		border-radius: 3px;
		line-height: 40px;
		right: 10%;
		top: 10%;
		animation: figure_info_out 0.3s ease;
		z-index: 1
	}
	& div.tag {
		font-family: "OP-SemiBold";
		font-size: 13px;
		width: 20%;
		height: 2px;
		background: rgb(30,30,30);
		position: absolute;
		color: transparent;
		text-align: center;
		vertical-align: center;
		border-radius: 3px;
		line-height: 40px;
		left: 10%;
		bottom: 10%;
		animation: figure_info_out 0.4s ease;
		z-index: 1
	}
	& div.img {
		height: 400px;
		background: rgba(218,218,218,0.3);
		overflow: hidden;
		transition: 0.35s ease;
		& img {
			position: relative;
			margin: auto auto;
			opacity: 1;
			width: 100%;
		}
	}
	&:hover {
		& div.title {
			height: 40px;
			color: rgba(255,255,255,1);
			animation: figure_info_in 0.7s ease;
		}
		& div.tag {
			height: 40px;
			color: rgba(255,255,255,1);
			animation: figure_info_in 0.8s ease;

		}
		& div.img {
			-webkit-box-shadow: 0px 2px 8px rgb(30,30,30);
			-moz-box-shadow: 0px 2px 8px rgb(30,30,30);
			box-shadow: 0px 2px 8px rgb(30,30,30);
			& img {
				opacity: 0.8;
			}
		}
	}
}

.emailError {
	& input {
		color: rgba(216,50,50,0.9) !important;
		&:hover {
			color: rgba(216,0,0,0.5) !important;
		}
	}
	& .label {
		color: rgba(216,50,50,0.9) !important;
		&:hover {
			color: rgba(216,0,0,0.5) !important;
		}
	}
}

.messageError {
	& textarea {
		color: rgba(216,50,50,0.9) !important;
		&:hover {
			color: rgba(216,0,0,0.5) !important;
		}
	}
	& .label {
		color: rgba(216,50,50,0.9) !important;
		&:hover {
			color: rgba(216,0,0,0.5) !important;
		}
	}
}

.recaptcha {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

@keyframes tag_in {
	0% {
		height: 2px;
		color: rgba(0,0,0,0);
	}
	100% {
		height: 40px;
		color: rgba(0,0,0,1);
	}
}

@keyframes figure_info_in {
	0% {
		height: 2px;
		color: rgba(255,255,255,0);
	}
	100% {
		height: 40px;
		color: rgba(255,255,255,1);
	}
}

@keyframes figure_info_out {
	0% {
		color: rgba(255,255,255,1);
		height: 40px;
	}
	100% {
		height: 2px;
		color: rgba(255,255,255,0);
	}
}
