$container_size: calc(100vh - 45px);

* {
	font-family: "OP-Regular";
	scroll-behavior: smooth !important;
}

body {
	width: 100%;
	max-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

header {
	height: $container_size;
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: -1;
	&#articles_header {
		height: 40vh;
		& svg {
			padding-right: 15px;
		}
		& button {
			padding-right: 0px 20px;
			padding-left: 0px 5px;
		}
	}
}

section {
	width: 80%;
	max-width: 1024px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3em;
	padding-bottom: 2em;
	background-color: white;
	z-index: -1;
	&.top_section {
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-top-left: 10px;
		-moz-border-radius-top-right: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	&#contact_section {
	padding-top: 2em;
	padding-bottom: 150px;
	}
}

#nag {
	width: 100%;
	max-width: 100%;
	position: fixed;
	z-index: 1999999999;
	background: #fafafa;
	overflow-x: hidden;
	bottom: 0px;
	left: 0px;
	-webkit-box-shadow: 0px -5px 35px -10px rgba(0,0,0,1);
	-moz-box-shadow: 0px -5px 35px -10px rgba(0,0,0,1);
	box-shadow: 0px -5px 35px -10px rgba(0,0,0,1);
	& div {
		width:100%;
		height: 100%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		position: relative;
		text-align: center;
	}
	& div > svg {
		cursor: pointer;
		margin: auto;
		color: #bcbcbc;
		margin-left: 50px;
		position: absolute;
		right: 8px;
		top: 8px;
		transition: 0.5 ease;
		&:hover {
			color: #444444;
		}
	}
	& span {
		height: 60px;
		vertical-align: center;
		text-align: center;
		margin: 0 0 0 0;
		display: inline-flex;
		align-items: center;
	}
	& button {
		font-family: "OP-Semibold";
		cursor: pointer;
		height: 60px;
		padding: 0px 20px;
		background: transparent;
		text-decoration: underline;
		border: none !important;
//		margin: auto auto 15px auto;
		transition: 0.5s ease;
		&:hover {
			text-decoration: none;
			opacity: 0.3;
		}
	}
}

#paralax {
	top: 0px;
	width: 100vw;
	min-height: 100vh;
	position: fixed;
	display: inline-block;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), $generated_header;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -10000000;
	transition: 0.35s ease;
	&.default {
		background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), $static_header;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
//	&.is-blur {
//	filter: blur(5px);
//	-webkit-filter: blur(5px);
//	-moz-filter: blur(5px);
//	-o-filter: blur(5px);
//	-ms-filter: blur(5px);
//	}
}

.hidden {
	visibility: hidden !important;
	display: none !important;
}

#share_container {
	width: 90%;
	min-height: 50px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 40px;
	padding-bottom: 40px;
	& a {
		font-family: "OP-Medium";
		cursor: pointer;
		color: #333333;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
		text-decoration: none;
		transition: 0.45s ease;
		& img {
			width: 20px;
			margin-right: 15px;
		}
		& svg {
			margin-right: 15px;
		}
		&:hover {
			opacity: 0.3;
		}
	}
}

.markdown_container{
	padding-top: 80px;
	& p {
		padding-bottom: 12px;
		text-align: left !important;
		& code {
			padding-top: 3px;
			padding-bottom: 3px;
			padding-left: 8px;
			padding-right: 8px;
			background: rgba(30,30,30, 0.5);
			border-radius: 3px;
		}
	}
	& a {
		font-family: "OP-Medium";
		cursor: pointer;
		text-decoration: underline;
		color: black;
		transition: 0.4s ease;
		&:hover {
			color: rgba(0,0,0,0.5);
		}
	}
}
