/*@font-face {
	font-family: 'SC-Light';
	src: url('/fonts/SourceCodePro/SourceCodePro-Light.eot');
	src: url('/fonts/SourceCodePro/SourceCodePro-Light.eot?#iefix') format('embedded-opentype'),
	url('/fonts/SourceCodePro/SourceCodePro-Light.woff') format('woff'),
	url('/fonts/SourceCodePro/SourceCodePro-Light.ttf') format('truetype'),
}

@font-face {
	font-family: 'SC-Regular';
	src: url('/fonts/SourceCodePro/SourceCodePro-Regular.eot');
	src: url('/fonts/SourceCodePro/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
	url('/fonts/SourceCodePro/SourceCodePro-Regular.woff') format('woff'),
	url('/fonts/SourceCodePro/SourceCodePro-Regular.ttf') format('truetype'),
}

@font-face {
	font-family: 'SC-Medium';
	src: url('/fonts/SourceCodePro/SourceCodePro-Medium.eot');
	src: url('/fonts/SourceCodePro/SourceCodePro-Medium.eot?#iefix') format('embedded-opentype'),
	url('/fonts/SourceCodePro/SourceCodePro-Medium.woff') format('woff'),
	url('/fonts/SourceCodePro/SourceCodePro-Medium.ttf') format('truetype'),
}

@font-face {
	font-family: 'SC-Semibold';
	src: url('/fonts/SourceCodePro/SourceCodePro-Semibold.eot');
	src: url('/fonts/SourceCodePro/SourceCodePro-Semibold.eot?#iefix') format('embedded-opentype'),
	url('/fonts/SourceCodePro/SourceCodePro-Semibold.woff') format('woff'),
	url('/fonts/SourceCodePro/SourceCodePro-Semibold.ttf') format('truetype'),
}

@font-face {
	font-family: 'SC-Bold';
	src: url('/fonts/SourceCodePro/SourceCodePro-Bold.eot');
	src: url('/fonts/SourceCodePro/SourceCodePro-Bold.eot?#iefix') format('embedded-opentype'),
	url('/fonts/SourceCodePro/SourceCodePro-Bold.woff') format('woff'),
	url('/fonts/SourceCodePro/SourceCodePro-Bold.ttf') format('truetype'),
}
*/

@font-face {
	font-family: 'OP-Light';
	src: url('/fonts/Overpass/Overpass-Light.eot');
	src: url('/fonts/Overpass/Overpass-Light.eot?#iefix') format('embedded-opentype'),
	url('/fonts/Overpass/Overpass-Light.woff') format('woff'),
	url('/fonts/Overpass/Overpass-Light.ttf') format('truetype'),
}

@font-face {
	font-family: 'OP-Regular';
	src: url('/fonts/Overpass/Overpass-Regular.eot');
	src: url('/fonts/Overpass/Overpass-Regular.eot?#iefix') format('embedded-opentype'),
	url('/fonts/Overpass/Overpass-Regular.woff') format('woff'),
	url('/fonts/Overpass/Overpass-Regular.ttf') format('truetype'),
}

@font-face {
	font-family: 'OP-Medium';
	src: url('/fonts/Overpass/Overpass-Regular.eot');
	src: url('/fonts/Overpass/Overpass-Regular.eot?#iefix') format('embedded-opentype'),
	url('/fonts/Overpass/Overpass-Regular.woff') format('woff'),
	url('/fonts/Overpass/Overpass-Regular.ttf') format('truetype'),
}

@font-face {
	font-family: 'OP-SemiBold';
	src: url('/fonts/Overpass/Overpass-SemiBold.eot');
	src: url('/fonts/Overpass/Overpass-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('/fonts/Overpass/Overpass-SemiBold.woff') format('woff'),
	url('/fonts/Overpass/Overpass-SemiBold.ttf') format('truetype'),
}

@font-face {
	font-family: 'OP-Bold';
	src: url('/fonts/Overpass/Overpass-Bold.eot');
	src: url('/fonts/Overpass/Overpass-Bold.eot?#iefix') format('embedded-opentype'),
	url('/fonts/Overpass/Overpass-Bold.woff') format('woff'),
	url('/fonts/Overpass/Overpass-Bold.ttf') format('truetype'),
}


@font-face {
	font-family: 'OP-ExtraBold';
	src: url('/fonts/Overpass/Overpass-ExtraBold.eot');
	src: url('/fonts/Overpass/Overpass-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('/fonts/Overpass/Overpass-ExtraBold.woff') format('woff'),
	url('/fonts/Overpass/Overpass-ExtraBold.ttf') format('truetype'),
}
