
@media all and (max-width: 1024px) {
	figure.articles_cartouche {
		& div.img img {
			width:auto;
			height: 100%;
		}
	}
}

// ------------------------------- tablet
// -------------------------------

@media all and (max-width: 839px) {
	section {
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}
	#nag {
		& span {
			width: 95%;
			margin-top: 8px;
		}
		& p {
			margin: 20px 0 0 0;
		}
	}
	#bg_para {
		background-position: top;
	}
	#page_index_header_text_bottom span {
		font-size: 2.8vw;
	}

	#articles_search {
		& .search {
			width: 90%;
		}
	}
	.articles_container {
		grid-template-rows: auto auto;
		grid-template-columns: 50% 50%;
		justify-items: stretch;
		padding: 8px;
	}

	figure.articles_cartouche {
		& div.img {
			height: 300px;
			& img {
				width: 100%;
				height: auto;
			}
		}
	}

	#about_section {
		& h1 {
			width: 50%;
		}
	}
}


// ------------------------------- Phone
// -------------------------------

@media all and (max-width: 480px) {

	section {
		width: calc(100% - 6px);
		padding-left: 3px;
		padding-right: 3px;
	}

	footer {
		& ul {
			width: 100%;
			max-width: 100%;
			flex-direction: column;
			justify-content: center;
		}
		& li {
			padding: 2px;
			padding-top: 8px;
			text-align: center;
		}
		& #right {
			margin-top: 15px;
		}
	}

	#nag {
		& span {
			width: 90%;
			margin-top: 8px;
		}
		& p {
			margin: 20px 0 0 0;
		}
	}

	#page_index_header_text_bottom span {
		font-family: "OP-Bold";
		font-size: 3.4vw;
	}
	#about_section {
		& h1 {
			width: 50%;
		}
	}
	.articles_container {
		grid-template-rows: auto;
		grid-template-columns: 100%;
		justify-items: stretch;
		padding: 0px;
	}
	#articles_search {
		& .search {

			width: 100%;
		}
	}
	figure.articles_cartouche {
		& div.title {
			height: 40px;
			color: rgba(255,255,255,1);
			animation: figure_info_in 0.7s ease;
		}
		& div.tag {
			height: 40px;
			color: rgba(255,255,255,1);
			animation: figure_info_in 0.8s ease;

		}
		& div.img img {
			opacity: 0.75;
			width: 100%;
			height: auto;
		}
	}

	#unsplash_credit {
		font-size: 0.55em;
	}
}

// ------------------------------- special
// -------------------------------

@media all and (max-width: 659px) {
	section {
		width: 95%;
		padding-left: 2.5%;
		padding-right: 2.5%;
	}
	#articles_section {
		justify-content: center;
		flex-direction: column;
	}
	#share_container {
		flex-direction: column-reverse;
	}

	#separator_section {
		height: 10em;
		background: transparent;
	}
}

@media all and (min-width: 1280px) {
	section {
		$big_section_width: calc(calc(100vw - 1024px) / 2);
		padding-left: $big_section_width;
		padding-right: $big_section_width;
	}
}

