<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="Content-Language" content="en,fr">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<meta name="author" content="Clément Richard">

	<meta name="description" ="en" content="Clément Richard · DevOps · Phoenix Web Application and more">
	<meta name="keywords" lang="en"
	content="Monohedrion, MNHDRN, portfolio, freelance, developer, web designer, c, 42, Clément Richard, clrichar, Paris, code, design, developer c, developer elixir, developer javascript, developer web, html, css, elixir, python, javascript, c" />

	<meta name="description" lang="fr" content="Clément Richard · DevOps · Application Web Phoenix et plus">
	<meta name="keywords" lang="fr"
	content="Monohedrion, MNHDRN, portfolio, freelance, développeur, web, designer, c, 42, Clément Richard, clrichar, Paris, code, design, développeur c, développeur elixir, développeur javascript, développeur web, html, css, elixir, python, javascript, c" />

    <title>MNHDRN · DevOps & Web Designer</title>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
	<link rel="shortcut icon" type="image/png" href="/images/mnhdrn_fav_32.png"/>
  </head>
  <body>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
	  <div id="app"></div>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
